body {
  font-family: Comic Sans MS, Arial;
}
.coupon {
  border: 5px dotted #aaa;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}
.container {
  padding: 2px 16px;
  background-color: #f3d753;
}
.promo {
  background: #fff;
  padding: 3px;
}
.expire_date {
  color: green;
}
